doctype html
html(lang="ja")
  head
    link(rel="stylesheet" href="/style.css")
    script(defer src="/script.js")
    title= title + "- 日本法令引用 URL"
    meta(property="og:title" content="会社法")
    meta(property="og:description" content=sentence)
    meta(property="og:image" content=`https://og.kbn.one/%23%20${title}%0A${sentence}.png?md=1`)
  body
    h1 404 URLに誤りがあるようです
    p 以下をお試しください。
    - a = path.split("-")
    ul
      each v,i in a
        li
          - p = a.slice(0,i).join("-")
          a(href=`/${lawNum}/${p}`)= "/" + p 
    