doctype html
html(lang="ja")
  head
    link(rel="stylesheet" href="/style.css")
    script(defer src="/page.js")
    title= title + " - 日本法令引用 URL"
    meta(property="og:site_name" content="日本法令引用 URL")
    meta(property="og:title" content=title)
    meta(property="og:description" content=description)
    meta(property="og:url" content=url)
    meta(property="og:image" content=`https://og.kbn.one/%23%20${title}%0A${description}.png?md=1`)
    meta(property="og:image:width" content="833")
    meta(property="og:image:height" content="476")
    meta(name="twitter:card" content="summary_large_image")
    meta(name="twitter:title" content=title)
    meta(name="twitter:description" content=description)
    meta(name="twitter:image" content=`https://og.kbn.one/%23%20${title}%0A${description}.png?md=1`)
    meta(name="viewport" content="width=device-width, initial-scale: 1.0")
    link(rel="icon" type="image/png" href="/favicon.png")
    link(rel="mask-icon" href="/favicon.svg" color="pink")
    link(rel="icon" type="image/svg+xml" href="/favicon.svg")
  body
    #source
      a(href=source) 原本へのリンク
    xml#xml(xmlUrl=xmlUrl)!= xml
    #share(style="display: none")
      <svg role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
        <path fill="currentColor" d="M503.691 189.836L327.687 37.851C312.281 24.546 288 35.347 288 56.015v80.053C127.371 137.907 0 170.1 0 322.326c0 61.441 39.581 122.309 83.333 154.132 13.653 9.931 33.111-2.533 28.077-18.631C66.066 312.814 132.917 274.316 288 272.085V360c0 20.7 24.3 31.453 39.687 18.164l176.004-152c11.071-9.562 11.086-26.753 0-36.328z" class=""></path>
      </svg>
    <script type="text/javascript" src="https://minmoji.ucda.jp/sealjs/https%3A__elaws.kbn.one" charset="UTF-8"></script>
