doctype html
html(lang="ja")
  head
    link(rel="stylesheet" href="/style.css")
    script(defer src="/page.js")
    title= title + "- 日本法令引用 URL"
    meta(property="og:title" content=title)
    meta(property="og:description" content=sentence)
    meta(property="og:image" content=`https://og.kbn.one/%23%20${title}%0A${sentence}.png?md=1`)
  body
    #source
      a(href=source) 原本へのリンク
    != xml
