html(xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja")
  head
    link(rel="stylesheet" href="/style.css")
    script(defer src="/page.js")
    title= title + " - 日本法令引用 URL"
    meta(property="og:site_name" content="日本法令引用 URL")
    meta(property="og:title" content=title)
    meta(property="og:description" content=description)
    meta(property="og:url" content=url)
    meta(property="og:image" content=`https://og.kbn.one/%23%20${title}%0A${description}.png?md=1`)
    meta(property="og:image:width" content="833")
    meta(property="og:image:height" content="476")
    meta(name="twitter:card" content="summary_large_image")
    meta(name="twitter:title" content=title)
    meta(name="twitter:description" content=description)
    meta(name="twitter:image" content=`https://og.kbn.one/%23%20${title}%0A${description}.png?md=1`)
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="icon" type="image/png" href="/favicon.png")
    link(rel="mask-icon" href="/favicon.svg" color="pink")
    link(rel="icon" type="image/svg+xml" href="/favicon.svg")
  body
    header
      h1#title
        a(href='/') 日本法令引用URL
      a#source(href=source) 原本へのリンク
    xml#xml(xmlUrl=xmlUrl)!= xml
    #share(style="display: none;")
      <svg role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
        <title>Share</title>
        .
          <path d="M245,490c135.31,0,245-109.69,245-245C490,109.69,380.31,0,245,0S0,109.69,0,245C0,380.31,109.69,490,245,490z M245,30.625 c118.207,0,214.375,96.168,214.375,214.375S363.207,459.375,245,459.375S30.625,363.207,30.625,245S126.793,30.625,245,30.625z"></path>
          <path d="
            M137.499,304.69c15.674,0,29.948-6.083,40.611-16l78.128,36.678c-0.583,3.341-0.904,6.771-0.904,10.276
            c0,32.913,26.782,59.695,59.695,59.695c32.913,0,59.695-26.782,59.695-59.695c0-32.913-26.782-59.695-59.695-59.695
            c-18.454,0-34.978,8.422-45.937,21.621l-74.543-34.995c1.717-5.561,2.646-11.464,2.646-17.581c0-4.942-0.615-9.741-1.753-14.337
            l75.93-35.646c10.906,11.704,26.437,19.043,43.657,19.043c32.913,0,59.695-26.782,59.695-59.695
            c0-32.913-26.782-59.695-59.695-59.695c-32.913,0-59.695,26.782-59.695,59.695c0,4.681,0.559,9.232,1.583,13.606l-76.295,35.817
            c-10.876-11.376-26.181-18.484-43.123-18.484c-32.913,0-59.695,26.782-59.695,59.695S104.586,304.69,137.499,304.69z
            M315.028,306.574c16.03,0,29.07,13.04,29.07,29.07c0,16.03-13.04,29.07-29.07,29.07c-16.03,0-29.07-13.04-29.07-29.07
            C285.958,319.614,298.998,306.574,315.028,306.574z M315.028,125.291c16.03,0,29.07,13.039,29.07,29.07
            c0,16.03-13.04,29.07-29.07,29.07c-16.03,0-29.07-13.04-29.07-29.07C285.958,138.331,298.998,125.291,315.028,125.291z
            M137.499,215.925c16.03,0,29.07,13.04,29.07,29.07s-13.039,29.07-29.07,29.07s-29.07-13.04-29.07-29.07
            S121.468,215.925,137.499,215.925z
          "></path>
      </svg>
    <script type="text/javascript" src="https://minmoji.ucda.jp/sealjs/https%3A__elaws.kbn.one" charset="UTF-8"></script>
